// -------------------------------------------- //
//  NAME: Global.scss
//  VERSION: 1.0
//  DESCRIPTION:
// -------------------------------------------- //

// -------- IMPORT BOOTSTRAP + VARS ------- //
@import "./components/variables";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/buttons";
//@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/input-group";

// -------- IMPORT FONTAWESOME ------- //
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/v4-shims";

// -------- IMPORT COMPONENT STYLES ------- //
@import "./components/footer";
@import "./components/cards";
@import "./components/navbar";
@import "./components/cta";

// --------------------------------------------- //
// SECTION 1 - TYPE
// --------------------------------------------- //

html, body {
  font-size: $body-size;
  font-family: 'Open Sans', sans-serif;
  color: #000; // set std black
}
#content{
  position: relative;
}
#page{
  overflow-x: hidden;
}

h1, .h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: .95;
}

h2, .h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
}

h3, .h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h4, .h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h5, .h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h6, .h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.display-1 {
  font-size: $display-1-size;
  font-weight: $display-1-weight;
}

.display-2 {
  font-size: $display-2-size;
}

.quote {
  font-size: $quote-font-size;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 300;
}

p, .p {
  line-height: 1.55;
  margin: 0;
}

small, .small {
  font-size: $small-font-size;
  font-family: 'Open Sans', sans-serif;
}

.x-small {
  font-size: $x-small-font-size;
  font-family: 'Open Sans', sans-serif;
}

a, .a {
  color: theme-color('peach');
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

a:hover, .a:hover {
  text-decoration: none;
  color: theme-color('d-teal');
}

.caps {
  text-transform: uppercase;
}

input, input#dynamic-search, input#dynamic-search-child{
  font-family: 'Comfortaa', sans-serif;
}

/*------ Text Color ------*/
.d-purple{
  color: $d-purple;
}
.purple{
  color: $purple;
}
.d-navy{
  color: $d-navy;
}
.navy{
  color: $navy;
}
.l-navy{
  color: $l-navy;
}
.d-teal{
  color: $d-teal;
}
.teal{
  color: $teal;
}
.peach{
  color: $peach;
}
.white{
  color: $white;
}
.black{
  color: $black;
}
/* ------ Background Classes ------ */
.bg-d-purple{
  background-color: $d-purple;
}
.bg-purple{
  background-color: $purple;
}
.bg-d-navy{
  background-color: $d-navy;
}
.bg-navy{
  background-color: $navy;
}
.bg-l-navy{
  background-color: $l-navy;
}
.bg-d-teal{
  background-color: $d-teal;
}
.bg-teal{
  background-color: $teal;
}
.bg-peach{
  background-color: $peach;
}


img{
  width: 100%;
  height: auto;
}


// --------------------------------------------- //
// SECTION 2 - GRID SYSTEM
// --------------------------------------------- //
section{
  padding: 5rem 0;

  &.nav-section{
    padding-top: 0;
    padding-bottom: 0;
  }
}

// --------------------------------------------- //
// SECTION 3 - COLOR UTILITIES
// --------------------------------------------- //
// instead of using color specific class, use bootstrap specific classes
// i.e. primary-bg or primary // secondary-bg or secondary


// --------------------------------------------- //
// SECTION 4 - BUTTONS
// --------------------------------------------- //
.btn-cont{
  display: flex;
}
a.btn{
  border-radius: 50px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  border: none;
  text-decoration: none;
  display: block;
  width: auto;
  font-family: $heading-font-family;
  font-weight: 600;
  padding: .75rem 2.5rem;
  font-size: 1rem;
  &:hover{
    text-decoration: none;
  }

  &.btn-primary{
    background-color: $peach;
    &:hover{
      background-color: $purple;
      text-decoration: none;
      color: $white;
    }
  }
  &.btn-secondary{
    background-color: $teal;
    &:hover{
      background-color: $purple;
      color: $white;
      text-decoration: none;
    }
  }
  &.btn-purple{
    background-color: $purple;
    &:hover{
      background-color: $teal;
    }
  }
  &.btn-teal{
    background-color: $teal;
    &:hover{
      background-color: $peach;
    }
  }
  &.btn-peach{
    background-color: $peach;
    &:hover{
      background-color: $purple;
    }
  }
}


// --------------------------------------------- //
// ?? WHAT ELSE NEEDS TO BE INCLUDED ??
// --------------------------------------------- //

@media only screen and (max-width: 1199px){

}

@media only screen and (max-width: 991px){
  .display-1{
    font-size: 3rem;
  }
  body{
    font-size: 17px !important;
  }
}

@media only screen and (max-width: 767px){
  body{
    font-size: 15px !important;
  }
  .display-1{
    font-size: 2.8rem;
  }
  .quote{
    font-size: 1.25rem;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 575px){
  div#content{
    section{
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
}