// -------------------------------------------- //
//  NAME: GRANDCHILD-HEADER.SCSS
//  VERSION: 1.0
//  DESCRIPTION:
// -------------------------------------------- //
@import "variables";

section{
  &.grandchild-header{
    &:before{
      content: "";
      height: 10rem;
      width: 10px;
      position: absolute;
      top: 0;
      left: calc(50% - 580px);
      background-color: $purple;
    }
    nav#breadcrumb-nav{
      ol{
        li.breadcrumb-item{
          a{
            color: $purple;

            &:hover{
              color: $teal;
              &:before{
                color: $teal;
              }
            }
            &:before{
              color: $purple;
            }
          }
        }
      }
    }

    .grandchild-header-img{
      width: 80px;
      position: absolute;
      left: calc(50% - 700px);
      top: 5rem;
    }
  }

  &.grandchild{
    padding-top: 0;
  }
}

@media only screen and (max-width: 1199px){
  section{
    &.grandchild-header{
      &:before{
        left: calc(50% - 490px);
      }
    }
  }
}