@import "variables";
nav.navbar{
  padding: 0;
  @media only screen and (min-width: 992px){
    transition: height .35s;
    height: 5rem;
  }


  //nav
  button.navbar-toggler{
    i{
      color: $white;
    }
  }

  div.navbar-collapse{
    height: 100%;
  }
  ul {
    height: 100%;
    align-items: center;

    li.menu-item {
      a.nav-link {
        font-family: $heading-font-family;
        font-size: $small-mobile-size;
        font-weight: 600;
        padding-left: 1rem;
        padding-right: 1rem;
        text-decoration: none;
        color: #fff;
      }

      a:hover {
        text-decoration: none;
        color: $peach;
      }

      &.basecamp {
        height: 100%;

        a {
          display: flex;
          align-items: center;
          height: 100%;
          padding-left: 1rem;
          padding-right: 1rem;
          background-color: $purple;

          &:hover {
            background-color: $peach;
            color: #fff;
          }
        }
      }
    }
  }

  .nav-logo {
    max-width: 200px;
  }
}

section#navbar-section{

}
.sticky{
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;

  .navbar{
    height: 3rem;
  }
}

@media only screen and (max-width: 991px){
  section{
    &.nav-section{
      nav{
        #navbarSupportedContent{
          li{
            display: block;
            width: 100%;
            a{
              display: block;
              width: 100%;
              padding: 1rem;
            }
          }
        }
      }
    }
  }

  .sticky{
    position: relative;

    .navbar{
      //height: 3rem;
    }
  }
  #content{
    padding-top: 0 !important;
  }
}