// -------------------------------------------- //
//  NAME: Variables.scss
//  VERSION: 1.0
//  DESCRIPTION: Declare variables/constants for use throughout SASS
// -------------------------------------------- //


// -------- IMPORT BOOTSTRAP VARS & FUNCTIONS ------- //
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/grid";


// -------- OVERRIDE VARS ------- //

// base font size
$body-size: 18px;
$body-size-mobile: 17px;

// type
$display-1-size: 3.25rem;
$display-2-size: 2.25rem;
$h1-font-size: 2.5rem;
$h2-font-size: 1.95rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$quote-font-size: 1.45rem;
$h5-font-size: 1.2rem;
$h6-font-size: 1.1rem;
$small-mobile-size: .925rem;
$x-small-font-size: .8rem;

$display-1-weight: 700;

// Font
$heading-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Open Sans', sans-serif;
$quote-font-family: 'Comfortaa', sans-serif;


// grid
$content-width: 70rem;
$grid-gutter-width: 1.5rem;


//spacers
$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: (
        0: 0,
        1: ($spacer * .25),
        2: ($spacer * .5),
        3: $spacer,
        4: ($spacer * 1.5),
        5: ($spacer * 2),
        6: ($spacer * 3),
        7: ($spacer * 4),
        8: ($spacer * 5),
);

// set color vars
// NOTE: Use bootstrap var names instead of custom red/yellow/etc.
$theme-colors: (
        'd-purple' : #342465,
        'purple'   : #663A8A,
        'd-navy'   : #09162D,
        'navy'     : #00344E,
        'l-navy'   : #155376,
        'd-teal'   : #095F5F,
        'teal'     : #2BB5B8,
        'peach'    : #E5413C
);
$d-purple: #342465;
$purple: #663A8A;
$d-navy: #09162D;
$navy: #00344E;
$l-navy: #155376;
$d-teal: #095F5F;
$teal: #2BB5B8;
$peach: #E5413C;
$white: #fff;
$black: #191919;

@media only screen and (max-width: 1199px){

}

@media only screen and (max-width: 991px){
  $body-size: 17px;
}

@media only screen and (max-width: 767px){
  $body-size: 16px;
}